.has-lotus-background {
    background-image: url("lotus.jpg") !important;
    background-size: cover !important;
}

.has-translucent-box {
    background: rgba(191, 187, 187, 0.4) !important;
    border-radius: 5px;
}

.has-padding-10 {
    padding: 10px;
}

.is-fullheight {
   min-height: 100vh;
}