.DS_Store
*.log
zArchives
*.bac
.idea
node_modules
*.sublime*
_DevSivaSivaReference alias
zBuilds Alias
z-Siva-Siva-App.wiki
**/*_Scripts/diff/*
**/*_Scripts/extra/*
Siva-Siva-App-Test.livecode
*-backup
*.zip
.nova
.vscode
