 <section class="section has-lotus-background is-fullheight">
        <div class="container">
            <div class="heading has-translucent-box has-padding-10">
                <h1 class="title">Select your location</h1>
                <h2 class="subtitle">
                    Please, select your location to view the correct Panchangam
                </h2>
            </div>
            <button class="button is-primary is-large region-selector" data-region="usa">USA</button>
            <button class="button is-primary is-large region-selector" data-region="world">World</button>
        </div>
    </section>