<section class="section has-lotus-background is-fullheight">
        <div class="container">
            <div class="heading has-translucent-box has-padding-10">
                <h1 class="title">Select your city</h1>
                <h2 class="subtitle">
                    Please, select your location to view the correct Panchangam
                </h2>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>City</th>
                </tr>
                </thead>
                <tbody>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/albany_ny.ics">Albany NY  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/albuquerque_nm.ics">Albuquerque NM  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/alsea_or.ics">Alsea OR  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/amarillo_tx.ics">Amarillo TX  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/anchorage_ak.ics">Anchorage AK  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/asheville_nc.ics">Asheville NC  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/athens_ga.ics">Athens GA  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/atlanta_ga.ics">Atlanta GA  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/auburn_al.ics">Auburn AL  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/austin_tx.ics">Austin TX  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/baltimore_md.ics">Baltimore MD  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/baton_rouge_la.ics">Baton Rouge LA  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/bettendorf_ia.ics">Bettendorf IA  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/birmingham_al.ics">Birmingham AL  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/bixby_ok.ics">Bixby OK  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/bloomfield_nj.ics">Bloomfield NJ  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/bloomington_il.ics">Bloomington IL  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/bloomington_in.ics">Bloomington IN  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/boca_raton_fl.ics">Boca Raton FL  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/boise_id.ics">Boise ID  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/boone_nc.ics">Boone NC  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/boston_ma.ics">Boston MA  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/bowling_green_ky.ics">Bowling Green KY  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/branchville_nj.ics">Branchville NJ  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/broomfield_co.ics">Broomfield CO  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/buffalo_ny.ics">Buffalo NY  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/cary_nc.ics">Cary NC  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/champaign_il.ics">Champaign IL  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/chantilly_va.ics">Chantilly VA  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/chapel_hill_nc.ics">Chapel Hill NC  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/charlotte_nc.ics">Charlotte NC  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/charlottesville_va.ics">Charlottesville VA  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/chicago_il.ics">Chicago IL  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/cincinnati_oh.ics">Cincinnati OH  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/cleveland_oh.ics">Cleveland OH  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/columbia_sc.ics">Columbia SC  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/columbus_oh.ics">Columbus OH  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/dallas_tx.ics">Dallas TX  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/davenport_ia.ics">Davenport IA  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/denver_co.ics">Denver CO  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/des_moines_ia.ics">Des Moines IA  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/detroit_mi.ics">Detroit MI  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/downers_grove_il.ics">Downers Grove IL  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/easton_md.ics">Easton MD  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/edison_nj.ics">Edison NJ  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/el_paso_tx.ics">El Paso TX  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/etobicoke_on.ics">Etobicoke ON  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/eugene_or.ics">Eugene OR  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/fairfax_va.ics">Fairfax VA  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/flemington_nj.ics">Flemington NJ  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/fort_lauderdale_fl.ics">Fort Lauderdale FL  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/fort_wayne_in.ics">Fort Wayne IN  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/frederick_md.ics">Frederick MD  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/fresno_ca.ics">Fresno CA  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/gainesville_fl.ics">Gainesville FL  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/greenville_sc.ics">Greenville SC  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/hartford_ct.ics">Hartford CT  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/hattiesburg_ms.ics">Hattiesburg MS  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/hawaii.ics">HawaII  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/honolulu_hi.ics">Honolulu HI  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/houston_tx.ics">Houston TX  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/indianapolis_in.ics">Indianapolis IN  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/irvine_ca.ics">Irvine CA  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/jacksonville_fl.ics">Jacksonville FL  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/kansas_city_ks.ics">Kansas City KS  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/knoxville_tn.ics">Knoxville TN  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/lanham_md.ics">Lanham MD  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/lansing_mi.ics">Lansing MI  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/las_vegas_nv.ics">Las Vegas NV  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/los_angeles_ca.ics">Los Angeles CA  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/louisville_ky.ics">Louisville KY  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/madison_wi.ics">Madison WI  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/memphis_tn.ics">Memphis TN  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/miami_fl.ics">Miami FL  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/michigan_city_in.ics">Michigan City IN  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/midland_tx.ics">Midland TX  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/milwaukee_wi.ics">Milwaukee WI  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/minneapolis_st_paul_mn.ics">Minneapolis St Paul MN  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/mobile_al.ics">Mobile AL  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/modesto_ca.ics">Modesto CA  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/monroe_nj.ics">Monroe NJ  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/montpelier_vt.ics">Montpelier VT  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/nashville_tn.ics">Nashville TN  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/new_orleans_la.ics">New Orleans LA  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/new_york_city_ny.ics">New York City NY  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/newport_beach_ca.ics">Newport Beach CA  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/normal_il.ics">Normal IL  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/norman_ok.ics">Norman OK  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/nutley_nj.ics">Nutley NJ  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/omaha_ne.ics">Omaha NE  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/orlando_fl.ics">Orlando FL  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/peoria_il.ics">Peoria IL  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/philadelphia_pa.ics">Philadelphia PA  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/phoenix_az.ics">Phoenix AZ  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/phoenixville_pa.ics">Phoenixville PA  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/pittsburgh_pa.ics">Pittsburgh PA  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/pleasanton_ca.ics">Pleasanton CA  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/portland_or.ics">Portland OR  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/rapid_city_sd.ics">Rapid City SD  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/reno_nv.ics">Reno NV  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/richmond_va.ics">Richmond VA  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/rochester_ny.ics">Rochester NY  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/sacramento_ca.ics">Sacramento CA  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/salt_lake_city_ut.ics">Salt Lake City UT  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/san_antonio_tx.ics">San Antonio TX  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/san_diego_ca.ics">San Diego CA  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/san_francisco_ca.ics">San Francisco CA  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/san_jose_ca.ics">San Jose CA  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/san_ramon_ca.ics">San Ramon CA  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/santa_clara_ca.ics">Santa Clara CA  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/santa_fe_nm.ics">Santa Fe NM  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/scottsdale_az.ics">Scottsdale AZ  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/seattle_wa.ics">Seattle WA  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/spokane_wa.ics">Spokane WA  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/springfield_or.ics">Springfield OR  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/st_helena_ca.ics">St Helena CA  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/st_louis_mo.ics">St Louis MO  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/stamford_ct.ics">Stamford CT  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/syracuse_ny.ics">Syracuse NY  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/tampa_fl.ics">Tampa FL  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/volcano_hi.ics">Volcano HI  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/walnut_creek_ca.ics">Walnut Creek CA  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/washington_dc.ics">Washington DC  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/wheaton_il.ics">Wheaton IL  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/whittier_ca.ics">Whittier CA  </a></td></tr>
                <tr><td><a href='#' data-ics="http://dev.himalayanacademy.com/media/apps/panchangam/calendars/2016-2017/usa/winter_garden_fl.ics">Winter Garden FL  </a></td></tr>
                </tbody>
            </table>
        </div>
    </section>