  <br>
    <div class="container">
        <ul class="month-display">
             {{#each this}}
            <li>
                <span class="sun">{{{this.summary.[0]}}}</span> 
                <span class="pretty-date">{{shortDate this.date}}</span><br>
                <span class="extra-summary">{{{from_index this.summary 1}}}</span>
            </li>
            {{/each}}
        </ul>
    </div>