<div class="modal-background"></div>
<div class="modal-card">
    <header class="modal-card-head">
        <p class="modal-card-title"><strong>{{summary}}</strong> <br> {{prettyDate date}}</p>
    </header>
    <section class="modal-card-body">
        {{{replaceNewLines description }}}
    </section>
    <footer class="modal-card-foot">
        <a class="button is-primary" data-modal-close="date-info-modal">Close</a>
    </footer>
</div>
