
<p>
    <a class="is-pulled-left month-switch-trigger"><strong><i class="fa fa-arrow-left fa-2x"></i></strong></a>

    <span class="title" style="">{{formatDate date "MMMM"}}</span>

    <a class="is-pulled-right month-switch-trigger"><strong><i class="fa fa-arrow-right fa-2x"></i></strong></a>
</p>
